body {
    margin: 0;
}

#main {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}

#calculator-container {
    border: solid;
    height: 600px;
    width: 450px;
}

#screen {
    border: solid red;
    margin: 32px;
    height: 140px;
}

#small-line {
    text-align: right;
    margin: 10px 10px 5px 10px;
    font-size: 24px;
    height: 2em;
}

#large-line {
    text-align: right;
    margin: 10px;
    font-size: 56px;
    height: 1em;
}

#button-container {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    margin: 0px 24px;
    width: 402px;
    height: 360px;
    gap: 5px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 95px;
}

#zero {
    width: 197px;
}